/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

// Margins
.margined-strong {
  margin: 5em;
}

.margined-medium {
  margin: 2.5em;
}

.margined-light {
  margin: 1.5em;
}



.line-heighted {
  line-height : 1.5em;
}


#logo_home {
  width: 15em;
}


.btn-medium {
  background-color: $blue;
  opacity: 1 !important;
  &:hover {
    color: $yellow;
  }
}

.white {
  color: white;
}

.red {
  color: $red;
}

a {
  color: $red;
  text-decoration: none;
  &:active {
  color: $red;
  text-decoration: none;
  }
  &:hover {
  color: $red;
  text-decoration: none;
  }
  &:focus {
  color: $red;
  text-decoration: none;
  }
  &:visited {
  color: $red;
  text-decoration: none;
  }
}
