<h2>View Show of the gist</h2>
<p>(show must go on..)</p>
<p>Gist descriptions: <%= @parsed_gists_result["description"] %> </p>

<p>Gist content: <%= @parsed_gists_result["files"].values[0]["content"] %> </p>
