.card {
  height: 175px;
  // text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: $gray;
  background-color: #F7F7F7;
  position: relative;
  // margin: 0.5em 0 2em;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}
.card-user {
  position: absolute;
  right: 2px;
  bottom: 5px;
}
.card-category {
  // position: absolute;
  // top: 10px;
  // left: 10px;
  font-size: 12px;
  height: 1.5em;
  margin: 0.5em;
  text-transform: uppercase;
  flex: 0 0 auto;
}
.card-description {
  position: absolute;
  top: 25px;
  left: 10px;
}
.card-description h2 {
  font-size: 18px;
}
.card-description p {
  font-size: 12px;
  }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
// .card-link:hover{
//   opacity: 0.1;
// }

.btn-info {
  background-color: rgba(24, 23, 67, 0.34);
}
